@import '../../variables';

.features-container {
  padding: 40px 20px;
  height: 50vh;
  width: $contentWidth;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;

  @media screen and (max-width: 425px) {
    height: 100vh;
  }

  .features-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    .card {
      position: relative;
      height: 200px;
      border: 2px solid green;
      border-radius: 15px;
      color: white;

      &:hover {
        box-shadow: 2px 2px 5px 2px darkgrey;
        cursor: default;
      }
    }

    .card-header {
      font-size: 25px;
      text-align: center;
      color: black;
      font-weight: 1000px;
      margin: 20px auto 5px;
    }

    .card-separator {
      margin: auto;
      width: 70%;
      height: 2px;
      box-shadow: 0px 2px darken($bgColor, 50%);
    }

    .card-details {
      font-size: 16px;
      padding: 15px;
      text-align: center;
      color: black;
    }

    .card-button {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      color: black;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50%;
        border: 1px solid #8f8f8f;
        box-shadow: 1px 1px grey;
        border-radius: 5px;
        &:hover {
          background: darken($bgColor, 40%);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}