@import './variables';

* {
  margin: 0px 3px;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: $bgColor;
  color: $textColor;
}