@import '../variables';

.btn {
  width: 100%;
  height: 100%;
  background: none;
}

a {
  text-decoration: none;
  color: $textColor;
  position: relative;
}

.active-link {
  box-shadow: 0px 2px black;
  p {
    overflow: hidden;
    margin-top: 3px;
    line-height: 50px;
    border-bottom: 3px solid green;
    box-shadow: 1px 3px 0px -1px rgb(202, 202, 40);
  }
}

.active-link-mobile {
  height: 100%;
  p {
    text-align: center;
    height: 60%;
    width: 45%;
    margin: auto;
    border-bottom: 2px solid green;
    box-shadow: 1px 3px 0px -1px rgb(202, 202, 40);
  }
}

.link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-nav {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 24px;
  &:hover {
    background-color: darken($bgColor, 40%);
    a {
      color: white;
    }
  } 
}

.btn-info {
  .text {
    border: 0px solid black;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    background: darkgrey;
    text-align: center;
  }
}

.btn-nav-mobile {
  width: 100%;
  height: 100px;
  display: flex;
}