@import '../variables';

.btn-generic {
  position: relative;

  button {
    background: none;
    border: 2px solid green;

    &:hover {
      cursor: pointer;
    }
  }
}

.btn-login {
  margin-left: 50px;

  button {
    color: $textColor;
    width: 100px;
    height: 50px;
    
    &:hover {
      background: darken($bgColor, 40%);
      color: white;
    }
  }
}